<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>U.S. Used Car Database</h1>
        <p class="lead">Group 18: W., Zhengxuan, W., Fengkai, C., Mengyi</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

      </div>
      <p>References Includes: <a href="http://www.danielgynn.com" target="_blank">danielgynn, <a href="http://fontawesome.io/examples/#" target="_blank">fontawesome.io</a>. CIS-550 Group 18 Rights</p>
    </div>
  </body>
</html>
