
<!DOCTYPE html>



<html>
<title>Search Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display:none}
</style>
<body class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-8">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3>Car Search</h3>
    <hr>
    <form action="/search" method="get">
      <p><label><i class="fa fa-car"></i> Make</label></p>
      <input class="w3-input w3-border" type="text" placeholder="ex. Audi" name="Make" required>          
      <p><label><i class="fa fa-filter"></i> Model</label></p>
      <input class="w3-input w3-border" type="text" placeholder="ex. A5" name="Model" required>         
      <p><label><i class="fa fa-calendar-o"></i> Year</label></p>
      <input class="w3-input w3-border" type="number" value="2017" name="Year" min="1900" max="2017">              

      <input class="w3-radio" type="radio" name="used" value="true" checked>
      <label class="w3-validate">Used Car</label>

      <input class="w3-radio" type="radio" name="used" value="false">
      <label class="w3-validate">New Car</label>

      <p><label><i class="fa fa-map-marker"></i> Zipcode</label></p>
      <input class="w3-input w3-border" type="number" placeholder="ex. 19104" name="Zipcode" required>  

      <p><label><i class="fa fa-map-marker"></i> Distance</label></p>
        <input class="w3-input w3-border" type="text" id = "value">  
        <h3>  </h3>
        15 <input type="range" min="15" max="100" step="5" name="Distance" onchange="showValue(this.value)" /> 100 
        <script>
        function showValue(newValue)
        {
        document.getElementById("value").value=newValue;
        }
        </script>

      <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search Your Cars</button></p>
    </form>
  </div>
  
  <div class="w3-bar-block">
    <a href="#car" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-car"></i> Cars</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> Subscribe</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
    <a href="/" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-home"></i>Login Page</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">Browse Cars</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:260px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <!-- Slideshow Header -->
  <div class="w3-container" id="car">
    <h2 class="w3-text-green">Cars Catalog</h2>
    <div class="w3-display-container mySlides">
    <img src="http://carssoo.com/wp-content/uploads/2016/04/New-2016-Audi-TT-RS.jpg" height="400" width="675" style="margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Audi</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="http://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/bmw-news-22nd-007.jpg" height="400" width="700" style="margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>BMW</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="http://resources.carsguide.com.au/styles/cg_hero_large/s3/Mercedes-Benz-C200.jpg" height="400" width="700" style="margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>MBenz</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="http://cdn.pinthiscars.com/images/nissan-skyline-gtr-r35-wallpaper-wallpaper-8.jpg" height="400" width="700" style="margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Nissan</p>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-section">
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="http://carssoo.com/wp-content/uploads/2016/04/New-2016-Audi-TT-RS.jpg" height="100" width="150" style="cursor:pointer" onclick="currentDiv(1)" title="Audi">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="http://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/bmw-news-22nd-007.jpg" height="100" width="150" style="cursor:pointer" onclick="currentDiv(2)" title="BMW">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="http://resources.carsguide.com.au/styles/cg_hero_large/s3/Mercedes-Benz-C200.jpg" height="100" width="150" style="cursor:pointer" onclick="currentDiv(3)" title="MBenz">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="http://cdn.pinthiscars.com/images/nissan-skyline-gtr-r35-wallpaper-wallpaper-8.jpg" height="100" width="150" style="cursor:pointer" onclick="currentDiv(4)" title="Nissan">
    </div>
  </div>

  <div class="w3-container">
    <h4><strong>You Browse History</strong></h4>
    <ul>
          <% for (i = 0; i < query_result.length; i++) { %> 
            <li> <b>Make:</b> <%=query_result[i].search_make%> <b> Model:</b> <%=query_result[i].search_model%>    <b>Year: </b><%=query_result[i].search_year%> </li>
          <%}%>
    </ul>
  </div>
  <hr>
  
  <div class="w3-container" id="contact">
    <h2>Subscribe</h2>
    <p>Subscribe Us To Hear New Updates!</p>
    <form action="/subscribe" method="get">
      <p><input class="w3-input w3-border" type="text" placeholder="Email" name = "Email" required name="Email"></p>
    <button type="submit" class="w3-button w3-green w3-third">Subscribe</button>
    </form>
  </div>

  <!-- Contact -->
  <div class="w3-container" id="contact">
    <h2>Thoughts About Our Website?</h2>
    <i class="fa fa-map-marker" style="width:30px"></i> Philadeliphia, PA, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: cis505@mail.com<br>
    <p>Comments? Go ahead, we love hear your voice!:</p>
    <form action="/comment" method="get">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" name = "Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" name = "Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" name = "Message" required name="Message"></p>
    <button type="submit" class="w3-button w3-green w3-third">Leave A Comment</button>
    </form>
  </div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

</body>
</html>